<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-dark table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Name</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (customers) { %> <% for(var i = 0; i < customers.length; i++) {
          %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= customers[i].name %></td>
            <td><%= customers[i].address %></td>
            <td><%= customers[i].phone %></td>
            <td class="d-flex gap-2">
              <a href="/update/<%= customers[i].id %>" class="btn btn-info">
                Edit
              </a>
              <a href="/delete/<%= customers[i].id %>" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <form action="/add" method="POST">
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="email"
            name="address"
            placeholder="Address"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="phone"
            placeholder="Phone"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-info">save customer</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
